// bower:scss
// endbower
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic);

html,body {
    background: white;
}

body {
  background-image: url(../images/gplaypattern.png);
  background-attachment:fixed;
  font-family: 'Open Sans', sans-serif;
}

#web-blockly {
    background-color: white;
    border: 1px solid #eee;
    padding-bottom: 20px;

    #blockly {
      .selectItem {
        overflow-y: auto;
      }

      .testCode {
        pre {
          padding: 0px;
          margin-top: 20px;
        }
      }
    }
}