// bower:scss
// endbower

html,body {
    background: white;
}

body {
  background-image: url(../images/gplaypattern.png);
  background-attachment:fixed;
}

#web-blockly {
    background-color: white;
    border: 1px solid #eee;
    padding-bottom: 20px;

    #blockly {
      .selectItem {
        overflow-y: auto;
      }
    }
}