<div id="blockly" ng-controller="BlocklyCtrl as blockly">
    <div class="row">
        <div class="col-sm-3">
            <hr />
            <div><h4 class="pull-left">Classes</h4>

                <form method="post" enctype="multipart/form-data" id="fileUploadForm">
                    <input type="file" name="java_class" id="java_class" style="display: none;">
                    <button style="margin-left: 5px;" id="fileUploadBtn" class="btn btn-primary pull-right button-upload-class"><i class="fa fa-upload"></i> Upload</button>
                </form>
                <button class="btn btn-primary pull-right button-new-class"
                        ng-bootbox-title="Add class method"
                        ng-bootbox-custom-dialog
                        ng-bootbox-custom-dialog-template="components/blockly/add_class.html"
                        ng-bootbox-buttons="blockly.customDialogButtons.createClass">
                    <i class="glyphicon glyphicon-plus"></i> New
                </button>
            </div>
            <div class="clearfix"></div>
            <div>
                <div style="position:relative;">
                    <div class="whirlSpinner whirl traditional" style="position: absolute; height: 100%; width: 100%; display: none;"></div>
                    <select id="selectClass" class="form-control selectItem" size="4" ng-model="blockly.selectedClass" ng-options="class.name for class in blockly.classes" ng-change="blockly.updateClass(blockly.selectedClass)">
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
            </div>
            <hr />

            <div><h4 class="pull-left">Methods</h4>
                <button class="btn btn-primary pull-right button-new-method"
                        ng-disabled="blockly.classes.length==0"
                        ng-bootbox-title="Add class method"
                        ng-bootbox-custom-dialog
                        ng-bootbox-custom-dialog-template="components/blockly/add_method.html"
                        ng-bootbox-buttons="blockly.customDialogButtons.createMethod">
                    <i class="glyphicon glyphicon-plus "></i> New method
                </button>
            </div>
            <div class="clearfix"></div>
            <div>
                <div style="position:relative;">
                    <div class="whirlSpinner whirl traditional" style="position: absolute; height: 100%; width: 100%; display: none;"></div>
                    <select id="selectMethod" ng-disabled="blockly.classes.length==0" class="form-control selectItem" size="4" ng-model="blockly.selectedMethod" ng-options="method.name for method in blockly.selectedClass.methods track by method.selected">
                        <option value="" ng-if="false"></option>
                    </select>
                </div>
            </div>
            <hr />
            <div><h4 class="pull-left">Tests</h4>
                <button class="btn btn-primary pull-right button-new-test"
                        ng-disabled="blockly.classes.length==0"
                        ng-click="blockly.createTest()">
                    <i class="glyphicon glyphicon-plus "></i> New test
                </button>
            </div>
            <div class="clearfix">
                <select ng-disabled="blockly.classes.length==0" class="form-control selectItem" size="4" ng-model="blockly.selectedTest" ng-options="test.name for test in blockly.selectedClass.tests  track by test.selected">
                    <option value="" ng-if="false"></option>
                </select>
            </div>
            <hr />
        </div>
        <div class="col-sm-9">
            <div style="height: 550px; width: 100%; position: relative;">
                <div id="blocklyDiv" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;"></div>
                <div ng-hide="blockly.selectedClass.tests.length>0" class="workspace-overlay">
                    <div style="position: absolute; height: 100%; width: 100%; z-index: 2; background-color: rgba(255,255,255,0.6); top: 0px; left: 0px;"></div>
                    <h2 style="position: absolute; width: 100%; z-index: 1; top: 40%; text-align: center;">Please create at least one test.</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3" style="margin-top: 20px;">
            <button class="btn btn-success btn-lg btn-block button-generate-code"
                    ng-disabled="blockly.classes.length==0"
                    ng-click="blockly.generateCode('.testCode code')">
                Generate jUnit
            </button>
        </div>
        <div class="col-sm-9">
            <div id="blocklyDivHidden" style="display: none;"></div>
            <div class="testCode">
                <pre><code class="java">// Generated code here</code></pre>
            </div>
        </div>
    </div>

    <xml id="{{ xmlid }}" style="display: none" ng-repeat="xmlid in ['toolbox', 'toolboxOriginal']">
        <category ng-repeat="(key, val) in blockly.blocks" name="{{key}}">
            <block ng-repeat="type in val" type="{{ type }}"></block>
        </category>
        <sep></sep>
        <category name="Variables" custom="VARIABLE"></category>
        <category name="Methods"></category>
    </xml>
</div>

<script>
    

    (function(){
        // Configure blockly
        setTimeout(function(){
            window.toolbox = document.getElementById('toolbox');
            window.workspace = Blockly.inject('blocklyDiv',
                    {toolbox: toolbox});
            window.workspaceHidden = Blockly.inject('blocklyDivHidden',
                    {toolbox: toolbox});
        }, 10);

        // Trigger file upload
        $('#fileUploadBtn').click(function(e){
            e.preventDefault();
            $('#java_class').trigger('click');
        });

        // On file change, submit the form
        $('#java_class').change(function(e){
            $('#fileUploadForm').trigger('submit');
        });

        // On form submit, use ajax
        $('#fileUploadForm').submit(function(e){
            e.preventDefault();

            $.ajax({
                url: 'api/upload.php',
                dataType: 'json',
                type: 'POST',
                data: new FormData(this),
                processData: false,
                contentType: false,
                cache: false,
                beforeSend: function(xhr){
                    // Add loading animation on top of the select class
                    $('.whirlSpinner').show();
                }
            }).done(function(data){
                // Remove the loading animation
                $('.whirlSpinner').hide();

                if(!_.isEmpty(data.error)){
                    alert(data.error);
                } else {
                    // Populate class and apply to the DOM
                    var scope = angular.element($('#blockly')).scope();
                    scope.blockly.populateClass(data);
                    scope.$apply();
                }
            });
        });

        // Configure some code highlight
        hljs.configure({
            tabReplace: '    ' // 4 spaces
        });

        // Initialize code highlighting on load
        hljs.initHighlightingOnLoad();
    })();
</script>
